html {
    background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #a4ebf3;
    padding: 10px;
}

.cuerpo {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

footer {
    color: #f4f9f9;
    background-color: #aaaaaa;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header-container {
    display: grid;
    grid-template-columns: auto 250px;
    grid-gap: 10px;
}

#C {
    text-align: center;
}

#logo {
    margin-left: 25px;
    margin-top: 15px;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#email {
    text-align: start;
}