.admin-container {
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 10px;
}

.CTA-container {
    display: grid;
    grid-template-columns: 730px 730px 210px;
    border-top-style: groove;
    border-bottom-style: groove;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#obj {
    text-align: center;
}

#CTA1 {
    padding: 10px;
    margin: 10px;
    text-align: center;
    
    overflow: hidden;
}

#CTA2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
    border-left-style: groove;
}

#zoomimg {
    transition: .2s ease;
    -moz-transition: .2s ease;
    -webkit-transition: all .2s ease-in-out;
}

#zoomimg:hover {
    transform: scale(1.8);
    -moz-transform: scale(1.8);
    -webkit-transform: scale(1.8);
}

#zoom {
    transition: .2s ease;
    -moz-transition: .2s ease;
    -webkit-transition: all .2s ease-in-out;
}

#zoom:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

#CC {
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-self: end;
}

#CC:hover {
    border-bottom: groove;
}

#A {
    text-align: center;
}

#admin {
    margin-top: 0;
}