   .menu-list {
    display: grid;
    grid-template-columns: 80% 20%;
    border-style: groove;
}

.menu-container{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
.card  {
    text-align: center;
}
.menu-item-label{
    text-align: center;
}

#menu {
    border-right-style: groove;
}

#compra {
    padding-left: 10px;
    padding-right: 10px;
}

.compra-container {
    display: grid;
    grid-template-rows: 15% 410px 11.25% auto;
}

#tuCompra {
    text-align: center;
    padding-bottom: 15px;
    border-bottom-style: groove;
}

#com {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-style: solid;
    border-bottom-style: solid;
}

#finalTiquet {
    text-align: center;
}

#botonComprar {
    width: 300px;
    height: 100px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 8px;
}
