.diacomanda{

    border:1px solid black;
}

.comandes-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.comanda {
    margin: 20px;
    border-bottom-style: groove;
    border-right-style: groove;
}
